<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <!-- Servlet Configuration -->
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>banking.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>AdminDashboardServlet</servlet-name>
    	<display-name>AdminDashboardServlet</display-name>
    	<description></description>
    	<servlet-class>banking.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>CustomerLoginServlet</servlet-name>
    	<display-name>CustomerLoginServlet</display-name>
    	<description></description>
    	<servlet-class>banking.CustomerLoginServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>WithdrawServlet</servlet-name>
    	<display-name>WithdrawServlet</display-name>
    	<description></description>
    	<servlet-class>banking.WithdrawServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>DepositServlet</servlet-name>
    	<display-name>DepositServlet</display-name>
    	<description></description>
    	<servlet-class>banking.DepositServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>CheckBalanceServlet</servlet-name>
    	<display-name>CheckBalanceServlet</display-name>
    	<description></description>
    	<servlet-class>banking.CheckBalanceServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>RegisterServlet</servlet-name>
    	<display-name>RegisterServlet</display-name>
    	<description></description>
    	<servlet-class>banking.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>TransactionHistoryServlet</servlet-name>
    	<display-name>TransactionHistoryServlet</display-name>
    	<description></description>
    	<servlet-class>banking.TransactionHistoryServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>DepositToFriendServlet</servlet-name>
    	<display-name>DepositToFriendServlet</display-name>
    	<description></description>
    	<servlet-class>banking.DepositToFriendServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ChangePasswordServlet</servlet-name>
    	<display-name>ChangePasswordServlet</display-name>
    	<description></description>
    	<servlet-class>banking.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>HomeLoanServlet</servlet-name>
    	<display-name>HomeLoanServlet</display-name>
    	<description></description>
    	<servlet-class>banking.HomeLoanServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>VehicleLoanServlet</servlet-name>
    	<display-name>VehicleLoanServlet</display-name>
    	<description></description>
    	<servlet-class>banking.VehicleLoanServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>customerDetailServlet</servlet-name>
    	<display-name>customerDetailServlet</display-name>
    	<description></description>
    	<servlet-class>banking.customerDetailServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>bankApplicationsServlet</servlet-name>
    	<display-name>bankApplicationsServlet</display-name>
    	<description></description>
    	<servlet-class>banking.bankApplicationsServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>HomeLoanApplicationsServlet</servlet-name>
    	<display-name>HomeLoanApplicationsServlet</display-name>
    	<description></description>
    	<servlet-class>banking.HomeLoanApplicationsServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>EducationLoanApplicationsServlet</servlet-name>
    	<display-name>EducationLoanApplicationsServlet</display-name>
    	<description></description>
    	<servlet-class>banking.EducationLoanApplicationsServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>SendOtpServlet</servlet-name>
    	<display-name>SendOtpServlet</display-name>
    	<description></description>
    	<servlet-class>banking.SendOtpServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>VerifyOtpServlet</servlet-name>
    	<display-name>VerifyOtpServlet</display-name>
    	<description></description>
    	<servlet-class>banking.VerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>SetNewPasswordServlet</servlet-name>
    	<display-name>SetNewPasswordServlet</display-name>
    	<description></description>
    	<servlet-class>banking.SetNewPasswordServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>LoanApplicationStatusServlet</servlet-name>
    	<display-name>LoanApplicationStatusServlet</display-name>
    	<description></description>
    	<servlet-class>banking.LoanApplicationStatusServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>AdminLoanStatusServlet</servlet-name>
    	<display-name>AdminLoanStatusServlet</display-name>
    	<description></description>
    	<servlet-class>banking.AdminLoanStatusServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>LoanApprovalServlet</servlet-name>
    	<display-name>LoanApprovalServlet</display-name>
    	<description></description>
    	<servlet-class>banking.LoanApprovalServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>SetPinServlet</servlet-name>
    	<display-name>SetPinServlet</display-name>
    	<description></description>
    	<servlet-class>banking.SetPinServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>CheckPinServlet</servlet-name>
    	<display-name>CheckPinServlet</display-name>
    	<description></description>
    	<servlet-class>banking.CheckPinServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminDashboardServlet</servlet-name>
    	<url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CustomerLoginServlet</servlet-name>
    	<url-pattern>/CustomerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>WithdrawServlet</servlet-name>
    	<url-pattern>/WithdrawServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DepositServlet</servlet-name>
    	<url-pattern>/DepositServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CheckBalanceServlet</servlet-name>
    	<url-pattern>/CheckBalanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RegisterServlet</servlet-name>
    	<url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>TransactionHistoryServlet</servlet-name>
    	<url-pattern>/TransactionHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DepositToFriendServlet</servlet-name>
    	<url-pattern>/DepositToFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ChangePasswordServlet</servlet-name>
    	<url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>HomeLoanServlet</servlet-name>
    	<url-pattern>/HomeLoanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>VehicleLoanServlet</servlet-name>
    	<url-pattern>/VehicleLoanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>customerDetailServlet</servlet-name>
    	<url-pattern>/customerDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>bankApplicationsServlet</servlet-name>
    	<url-pattern>/bankApplicationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>HomeLoanApplicationsServlet</servlet-name>
    	<url-pattern>/HomeLoanApplicationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EducationLoanApplicationsServlet</servlet-name>
    	<url-pattern>/EducationLoanApplicationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SendOtpServlet</servlet-name>
    	<url-pattern>/SendOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>VerifyOtpServlet</servlet-name>
    	<url-pattern>/VerifyOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SetNewPasswordServlet</servlet-name>
    	<url-pattern>/SetNewPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LoanApplicationStatusServlet</servlet-name>
    	<url-pattern>/LoanApplicationStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminLoanStatusServlet</servlet-name>
    	<url-pattern>/AdminLoanStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LoanApprovalServlet</servlet-name>
    	<url-pattern>/LoanApprovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SetPinServlet</servlet-name>
    	<url-pattern>/SetPinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CheckPinServlet</servlet-name>
    	<url-pattern>/CheckPinServlet</url-pattern>
    </servlet-mapping>
    
    <!-- You can add more servlets and servlet mappings as needed -->
    

</web-app>


